<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2k9qRG4l_q01FVjwj-UwQ9fzVtOSbIsk</string>
	<key>GCM_SENDER_ID</key>
	<string>147723250558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zirvego.yonetici</string>
	<key>PROJECT_ID</key>
	<string>zirvenew</string>
	<key>STORAGE_BUCKET</key>
	<string>zirvenew.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147723250558:ios:32ff9d163daff3fad2612f</string>
</dict>
</plist>